.cards{
    width:70%;
} 
.info{
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    border: 1px solid #e70000;
    height: 85%;
}